<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>INTHA - International Thamizharhal</h1>
          <h2>நம்மாலும் கடவுளாக முடியும்.  ஏன் ? என்ன ? எங்கே ? எதற்கு ?எப்படி ?</h2>
        </header>
	<body>	      
		எப்பொருள் எத்தன்மைத் தாயினும் அப்பொருள்  மெய்ப்பொருள் காண்பது அறிவு. (355) </p>
	      எப்பொருள் யார்யார்வாய்க்கேட்பினும் அப்பொருள் மெய்ப்பொருள் காண்பது அறிவு. (423)</p>
	    எண்பொருளவாகச் செலச்சொல்லி தான்பிறர் வாய்நுண்பொருள் காண்பது அறிவு. ( 424)</p>
	  அறிவுடையார் ஆவது அறிவார் அறிவிலார் அஃதுஅறி கல்லா தவர் (குறள் -427)</p>
வேதங்கள் , இதிகாசங்கள் , புராணங்கள் , உபநிஷத்துகள் , ஆகமங்கள் , தத்துவங்கள் , கற்பதைக்காட்டிலும் உண்மையாயிருந்து , நன்மை புரிந்து தீதுதழிக்க உள்ளொளியுள் ஆழ்ந்து அகன்று  ஞானச் செம்பொருட் சுடருள் தன்னை கரைத்து ஒன்றரக்   கலந்து இறையுள் மறையலாம்  .
இருவினை அண்டாதிருக்க :-   இந்த உடல் , உயிர் , உள்ளம் , உடைமைகள்  முழுதும் எங்கும் இறைந்திருக்கும் இறைக்கர்ப்பணம் , எதையும் கடந்துள்ள அளப்பரிய ஆற்றல் கடவுளுக்கர்ப்பணம் .(இதை மனதிற்குள் மனனம் ஆகும் வரை கூறிக்கொண்டே  இருக்கவும் )
உயிருள்ள உடல் ,தாவரமாயினும் ,விலங்காயினும்,அதனுள் நன்மை தீமைகள் இணைந்தே இருக்கின்றன என்பது ஆராய்ந்து ஆய்ந்த  உண்மை .உடல் இருக்கும் வரை நோய்கள் இருப்பதும்  இயற்கையே .இயற்கையிலேயே நம் உடல் தன்னை தானே நோய்களிருந்து தற்காத்து கொள்ளும் தகுதி பெற்றுள்ளது .
மலச்சிக்கலே ஆதிநோய் .ஏனைய நோய்கள் அது தொடர்பானவையே. கழிவுகளின் தேக்கமே நோய்கள் .அவரவர் உணவு செரிக்கும் ஆற்றலுக்கு  ஒப்ப உட்கொண்டால் செரியாமை ,பசியின்மை ,ருசியின்மை ,ஏப்பம் ,வயிற்றுப்பொருமல், குடல் இரைச்சல் ,குடல்களில்  ,வாயுக்கோளாறுகள் ,வாயுத்தேக்கம் ,தலைசுற்றல் ,வாந்தி ,கிறுகிறுப்பு என எதுவும் வாராது .
பிறப்புக்கு மூல காரணம் அவரவர் செய்த முற்பிறவிகளின் வினைப்பயன்களே .
நல்லவை , அல்லவை( புண்ணியம் , பாவம்) ,யார் இந்த வினைப்பயன்களை தீர்த்து முடிகின்றார்களோ அவர்களது கடன்கள் தீர்ந்து, கடமைகள் முடிந்தால் , மீண்டும் பிறவி எடுப்பதில்லை .
அறிவு - பகுத்தறிவு - புத்தி - ஞானம் -மெய்ஞானம் -இகஞானம் -பரஞானம் -பக்குவம் -பரிபக்குவம் அடைந்தவர்கள்  மழைத்துளி கடலுள் விழுந்து ஒன்றரக்  கரைந்து கலந்து மறைந்து போதல் போல் ஆத்மா பரமாத்மாவோடு ஒன்றரக்  கரைந்து கலந்து தான் அது ஆகிறது  (தத் த்வம் அஸி ).
எண்ணம் , சொல் , செயலில், தீமை (களை,பகை ,நோய்× அகம்3 , புறம்3) அண்டாதிருக்க:- ஓம்சத்ரு சம்காரி , சடாதரி ,சாம்பவி ,சற்குணத்தி  , ருத்ரி , கங்காளி , உமை , திரிசூலினி நித்தம் துதிக்கும் அடியவனுக்கு இடர் செய் அக , புற , பகை , களை, நோய்களை குத்தி இருத்தி  குடலைப்  பிடுங்கி எறிந்து சத்ருவின் குலை   அறுத்து தாயாகி வந்து இவன் /ள் நெஞ்சில் அமர்வாய் திரிபுர வால  சிவசக்தியே சரணம்  சரணம் சரணசரணார்த்தி .(இதை தினமும் எத்தனை முறை கூற முடியுமோ அத்தனை முறை மனதிற்குள் கூறிக்கொண்டே  இருந்தால், நம்முடைய  எண்ணம் , சொல் , செயல், செய்பொருளில்  நன்மை கூடிக்கொண்டே  போகும் ) .
விலங்கு குணம் கொண்ட மனிதர்கள் மனிதர்களாகவும் ,மனிதர்கள் மாமனிதர்களாகவும் , மாமனிதர்கள் தெய்வீகமாக:-    
எளிமை--தூய்மை-- முழுமை = தெய்வீகம்.
இப்பேரண்டம் வாழ் உயிர் , பொருள் , உரு,அரு, உருஅரு(சிவம் , சக்தி , சிவசக்தி )என எதற்கும் அறிந்தோ அறியாமலோ , தெரிந்தோ தெரியாமலோ , புரிந்தோ புரியாமலோ எவ்வித ஊறும் செய்யாதிருக்கவும் முப்பொழுதும் உண்மையாய் இருந்து நன்மை புரிந்து தீது அழிக்கவும் இதன்  எண்ணம் , சொல் , செயல், செய்பொருளில், இது கண்டு , கேட்டு , உண்டு , உயிர்த்து , உணரும் அனைத்திலும் நிறைந்திருந்து  காத்தருள்வாய் சரணம்  சரணம் சரணசரணார்த்தி .
தன்னெரிப்பு(சுயதகனம் ) செய்ய இருவினைகளும் எரிந்தழியும் . 
 சரணம் சரணம் .இந்த உடல் ,உயிர் , உள்ளம் , உடைமைகள் முழுதும்  எங்கும் இறைந்திருக்கும் இறைக்கர்ப்பணம் , எதையும் கடந்துள்ள அளப்பரிய ஆற்றல் கடவுளுக்கர்ப்பணம். சரணம்  சரணம் சர்வமும் சிவதீக்கர்ப்பணம், சிவவளிக்கர்ப்பணம் ,சிவவெளிக்கர்ப்பணம், சிவநீருக்கர்ப்பணம் ,சிவநிலத்திர்க்கர்ப்பணம்.
GOD =The Supreme power  which controls Generation,Operation and Destruction.
முற்பிறவிகளின் இருவினைப் பயன்களாலேயே பிறவி ஏற்படுகிறது.கர்மவினைகள் தீர பிறப்பிறப்பிலா பேரின்ப பெருவாழ்வை இறையுள் எய்தலாம்.
மாறும் என்பதே மாறாவிதி.இந்த நிலை , இளமை , அழகு , வலிமை , செழுமை ,உயர்வு தாழ்வு , இன்பம் துன்பம் , பிறப்பு இறப்பு , உள்ளது  அல்லது ,விருப்பு வெறுப்பு , நன்மை தீமை , நட்பு பகை , உறவு பிரிவு என அனைத்தும் மாறும்.

தாண்டவராய சின்னத்தம்பி காசிநாத முத்தையன் எனும் தொண்டர் அடிப் பொடிக்கடியான் 

	</body>
	      
      <!--  <section id="downloads" class="clearfix">
          {% if site.show_downloads %}
          <a href="{{ site.github.zip_url }}" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="{{ site.github.tar_url }}" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          {% endif %}
	{% if site.github.public %}
	  {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
	  {% else %}
          <a href="{{ site.github.owner_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
	  {% endif %}
	{% endif %}
        </section> <!> 
        <hr>
        <section id="main_content">
          {{ content }}
        </section> -->

        <footer>
        <!-- {% if site.github.is_project_page %}
          {{ site.title | default: site.github.repository_name }} is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a><br>
        {% endif %}
          This page was generated by <a href="https://pages.github.com">GitHub Pages</a>. -->
        </footer>

      </div>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
